<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/estilos.css" />
    <link rel="stylesheet" href="css/estilos2.css">
    <title>Instituto Alfonso Hernandez Córdova</title>
  </head>
  <body> 
       <div style="text-align: end;">
        <a href="/login">
        <input type="submit" value="Iniciar sesión Profesor" class="button">
    </div> </a>
           
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/principal" method="" autocomplete="off" class="sign-in-form">
            <img src="img/logo.png" height="70" width="70">
            <h2 class="title">sesión Admin.</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Usuario" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" />
            </div>
            <input type="submit" value="Listo" class="btn solid" />
            <p class="social-text">Siguenos en nuestras plataformas sociales</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>

          <form action="#" class="sign-up-form">
            <img src="img/logo.png" height="70" width="70">
            <h2 class="title">Registrarse</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nombre de usuario" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Correo" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" />
            </div>
            <input type="submit" class="btn" value="Listo" /> 
            <p class="social-text">Siguenos en nuestras plataformas sociales</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
           <h3>¿aún no tienes una cuenta?</h3>
            <p>
              Por favor regístrate y accede de una manera rápida y sencilla.
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Regístrate
            </button>
          
          </div>
          <img src="img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>¿Ya tienes una cuenta?</h3>
            <p>
              Inicia sesión y accede a ella de una manera rápida.
            </p>
            <button class="btn transparent" id="sign-in-btn">
               Iniciar sesión
            </button>
          </div>
          <img src="imagenes/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
  </body>
</html>
