
<html>
    <head>
        <title>Alumnos Registrados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href ="@{css/bootstrap.css}" rel="stylesheet">
        <link th:href ="@{css/estilos_Prof.css}" rel="stylesheet">
        <link th:href ="@{css/fontello.css}" rel="stylesheet">
         
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <header>
    <h5 class="texto">INSTITUTO: ALFONSO HERNÁNDEZ CÓRDOVA </h5>
    <div class="charles">
        <img src="img/logo.png" alt="#" width="50px" height="50px" > 
    </div> 
      <input type="checkbox" id="btn-menu">
      <label for="btn-menu" class="icon-menu"></label>
      <nav class="menu">
           <ul>
              <li class="submenu"><a href="/principalp">Inicio</a> </li> 
              <li class="submenu"><a href="/l2">Alumnos</a> </li>               
              <li><a href="">Asistencia</a></li>
              <li><a href="">Notas</a> </li>             
              <b> <li><a href="/listaAd"  class="icon-phone">Contactar Administrador</a></li></b>
          </ul>
      </nav>   
    </header>
         <h2 th:if="${lista.isEmpty()}" style="text-align: center">Actualmente no hay estudiantes registrados</h2>
        <div th:if="${!lista.isEmpty()}">
                <h2 style="text-align: center">Alumnos registrados</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Telefono</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="alumno : ${lista}">
                            <td th:text="${alumno.id}">
                            <td th:text="${alumno.nombre}">
                            <td th:text="${alumno.apellido}">
                            <td th:text="${alumno.telefono}">
                            </tr>
                    </tbody>
                </table>
            </div> 
    <script src="js/menu.js"></script>
    </body>
</html>
