
<html>
    <head>
        <title>Lista Contacto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href ="@{css/bootstrap.css}" rel="stylesheet">
        <link th:href ="@{css/estilos_Prof.css}" rel="stylesheet">
        <link th:href ="@{css/fontello.css}" rel="stylesheet">
    </head>
    <body>
       <header>
        <h5 class="texto">INSTITUTO: ALFONSO HERNÁNDEZ CÓRDOVA </h5>
           <div class="charles">
            <img src="img/logo.png" alt="#" width="50px" height="50px" > 
           </div> 
         <input type="checkbox" id="btn-menu">
         <label for="btn-menu" class="icon-menu"></label>
         <nav class="menu">
             <ul>
                 <li class="submenu"><a href="/principalp">Inicio</a> </li> 
                 <li class="submenu"><a href="/l2">Alumnos</a> </li>               
                 <li><a href="">Asistencia</a></li>
                 <li><a href="">Notas</a> </li>             
                 <b> <li><a href="/listaAd"  class="icon-phone">Contactar Administrador</a></li></b>
             </ul>
      </nav>   
    </header>
         <h2 th:if="${listaadmin.isEmpty()}" style="text-align: center">Actualmente no hay administradores registrados</h2>
        <div th:if="${!listaadmin.isEmpty()}">
                <h2 style="text-align: center">Administradores registrados</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Telefono</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="administrador : ${listaadmin}">
                            <td th:text="${administrador.nombre}">
                            <td th:text="${administrador.apellido}">
                            <td th:text="${administrador.telefono}">
                            </tr>
                    </tbody>
                </table>
            </div> 
    <script src="js/menu.js"></script>
    </body>
</html>
