<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Sesión Profesor</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="css/estilos2.css">
	

</head>  
<body>
    <div style="text-align: end;">
        <a href="/">
        <input type="submit" value="Iniciar sesión como Administrador" class="button">
    </div> </a> 
 <form action="/principalp" method="" autocomplete="off" class="formulario">
    <div style="text-align: center;">
        <img src="img/logo.png" height="50" width="50">
    </div>
    <h1> Sesión Profesor</h1>
       <div class="contenedor">
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electrónico">
          </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña">
         
         </div>
         <input type="submit" value="Iniciar Sesión" class="button">
         <br>
         
     </div>
    </form>
    <br><br>
</body>
</html>